@{
    ViewBag.Title = "Home Page";
}

<style>
    .aling-jumbo{
        margin-top:8%;
    }
    p{
        font-size:14px;
        font-weight:bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:white;
        text-align:center;
    }
    .Contenedor {
        width: 60%;
        height: 70vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 27%;
        background: rgba(0,0,0,.6);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.5);
        border-radius: 10px;
    }
</style>

<div class="aling-jumbo">
    <div class="Contenedor">
        <p>
            Sabemos lo importante que es para usted la organización de su eventos y es por ese motivo que deseamos acompañarlo para brindarle las mejores opciones para hacer inolvidable ese momento.
        </p>
        <br />
        <p>Somos pioneros en la incorporación del LED y podrá encontrar en nosotros la más amplia selección de productos. Vendemos minorista y también mayorista, distribuyendo nuestra línea a todo el país.</p>
        <br />
        <p>Nuestro objetivo es seguir creciendo junto a todos nuestros clientes, siempre acercándoles los mejores y más novedosos productos.</p>
        <img src="https://kasasdecoracion.com/blog/wp-content/uploads/2016/12/navidad-271x300.png" />
    </div>
</div>